<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>

<body>
    <h1>AJAX PRACTICE</h1>
    <a href="/ajax_ex_01">01_get 요청</a><br><br>
    <a href="/ajax_ex_02">02_post 요청</a><br><br>
    <a href="/ajax_ex_03">03_get 요청 및 parameter 전달</a><br><br>
    <a href="/ajax_ex_04">04_post 요청 및 parameter 전달</a><br><br>
    <a href="/ajax_ex_05">05_get 요청 & parameter DTO로 받기(@ModelAttribute) & DTO 객체 리턴 하기</a><br><br>
    <a href="/ajax_ex_06">06_post 요청 & parameter DTO로 받기(@ModelAttribute) & DTO 객체 리턴 하기</a><br><br>
    <a href="/ajax_ex_07">07_post 요청 & (JSON) parameter DTO로 받기(@RequestBody) & DTO 객체 리턴 하기</a><br><br>
    <a href="/ajax_ex_08">08_post 요청 & (JSON) parameter 전달하기 & List 객체 리턴 하기</a><br><br>
    <a href="/ajax_ex_09">09_post 요청 & parameter 전달하기 & ResponseEntity에 DTO 객체 리턴 하기</a><br><br>
    <a href="/ajax_ex_10">10_post 요청 & parameter 전달하기 & ResponseEntity에 List 객체 리턴 하기</a><br><br>
</body>

</html>